<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Tienes un nuevo comentario<br>
    </p>
    <p>
      Accede al siguiente link para que puedas visualizarlo: <%= @url %>.
    </p>
    <p>Gracias por Pertenecer a la comunidad Universal Code!!!!</p>
  </body>
</html>